<div class="row d-flex align-items-stretch" *ngFor="let post of posts">
    <div class="text col-lg-7">
      <div class="text-inner d-flex align-items-center">
        <div class="content">
          <header class="post-header">
            <div class="category"><a routerLink>{{post.category}}</a></div>
                <a routerLink="/post">
                <h2 class="h4">{{post.title}}</h2>
                </a>
          </header>
          <div class="text-muted" [innerHtml]="post.post"></div>
          <footer class="post-footer d-flex align-items-center">
            <a routerLink class="author d-flex align-items-center flex-wrap">
              <div class="avatar"><img src="/assets/img/avatar-1.jpg" alt="..." class="img-fluid"></div>
              <div class="title"><span>{{post.postedBy}}</span></div>
            </a>
            <div class="date"><i class="icon-clock"></i> {{post.postDate}}</div>
            <div class="comments"><i class="icon-comment"></i>{{post.comments.length}}</div>
          </footer>
        </div>
      </div>
    </div>
    <div class="image col-lg-5"><img [src]="post.featuredImage" alt="..."></div>
</div>